<!DOCTYPE html>
<html lang="en_US">
<head>
    <link rel="stylesheet" href="/static/detail.css">
    <link rel="stylesheet" href="/static/PhotoSwipe/photoswipe.css">
    <link rel="stylesheet" href="/static/PhotoSwipe/default-skin/default-skin.css">
    <title>{{ rss.title }} - {{rss.items_set.all|length}} items</title>
</head>

<body>
    <div id="header">
        <div onclick="displayGallery('{% url 'rss:rssgallery' rss.id %}')">
            <p id="headerTitle">{{ rss.title }} - {{rss.items_set.all.count}} items</p>
        </div>
        <div id="headerSubscribe" onclick="location.href='{% url 'rss:rssstream' rss.id %}';">
            <p>subscribe</p>
        </div>
    </div>
    
    <div id="content" class="divContent">
        {% for item in rss.items_set.all %}
            <div class="divItem" style="display:none">
                {% if item.links_set.all.count > 0 %}
                <div class="divItemLeft"
                    onclick="displayGallery('{% url 'rss:itemgallery' rss.id item.id %}', {{ item.id }})">
                    <img class="itemImage pointer" src="{% url 'rss:localstoreretrieve' rss.id item.id item.links_set.first.id %}"/>
                    <div class="itemLinksBubble">
                        <div class="itemLinksCount">{{item.links_set.all.count}}</div>
                    </div>
                {% else %}
                <div class="divItemLeft">
                    <img class="itemImage" src="/static/noLinks.png"/>
                {% endif %}
                </div>
                <div class="divItemRightParent">
                <div class="divItemRight">
                    <p class="itemTitle">{{item.title}}</p>
                    <p class="itemDate">{{ item.pub_date }}</p>
                    <p class="itemSummary">{{ item.summary }}</p>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Core JS file -->
    <script src="/static/PhotoSwipe/photoswipe.min.js"></script> 

    <!-- UI JS file -->
    <script src="/static/PhotoSwipe/photoswipe-ui-default.min.js"></script>
    
    <script type="text/javascript">
function contentRowsColumns() {
    var columns = Math.floor($('#content').width()/$('.divItem').width());
    if(columns == 0) {
        columns = 1;
    }

    var rows = Math.floor($('#content').height()/$('.divItem').height());
    if(rows == 0) {
        rows = 1;
    }
    
    return [rows, columns];
}
        
window.onload = function loadItems() {
    var [rows, columns] = contentRowsColumns();
    var nbItemsToLoad = rows * columns;
    console.log(nbItemsToLoad);
    var count = 0;
    $('.divItem').each( function() {
        if(count >= nbItemsToLoad) {
            return false;
        }
        count++;
        
        $(this).css("display", "inline");
        $(this).delay(500).show().animate({opacity:1},3000);
    });
}
        
function displayGallery(infoUrl, itemId) {
    var pswpElement = document.querySelectorAll('.pswp')[0];

    // define options (if needed)
    var options = {
        // optionName: 'option value'
        // for example:
        index: 0 // start at first slide
    };
    
    $.getJSON(infoUrl, function(galleryInfos) {
        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, galleryInfos, options);
        gallery.init();
    });
}

var loading = false;
$('#content').on('scroll', function() {
    if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
        if(!loading){
            loading = true;
            loadNewContent();//call function to load content when scroll reachs DIV bottom                
        }   
    }
});

function loadNewContent() {
    // LOAD columns more items
    $('.divItem').each( function() {
        $(this).css("display", "inline");
        $(this).delay(500).show().animate({opacity:1},3000);
    });
    
    console.log('opopop');
    loading = false;
}
    </script>
</body>
</html>
