{% load static %}<!DOCTYPE html>
<html lang="en_US">
<head>
    <link rel="stylesheet" href="{% static "detail.css" %}">
    <link rel="stylesheet" href="{% static "PhotoSwipe/photoswipe.css" %}">
    <link rel="stylesheet" href="{% static "PhotoSwipe/default-skin/default-skin.css" %}">
    <title>{{ rss.title }} - {{rss.items_set.all|length}} items</title>
</head>

<body>
    <div id="header">
        <div onclick="displayGallery('{% url 'rss:rssgallery' rss.id %}')">
            <p id="headerTitle">{{ rss.title }} - {{rss.items_set.all.count}} items</p>
        </div>
        <div id="headerSubscribe" onclick="location.href='{% url 'rss:rssstream' rss.id %}';">
            <p>subscribe</p>
        </div>
    </div>
    
    <div id="content" class="divContent" />
    
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Core JS file -->
    <script src="{% static "PhotoSwipe/photoswipe.min.js" %}"></script>

    <!-- UI JS file -->
    <script src="{% static "PhotoSwipe/photoswipe-ui-default.min.js" %}"></script>
    
    <script type="text/javascript">
var itemManager = {
    itemNumberRootUrl: '{% url 'rss:itemnumber' rss.id '' %}',
    totalItems: {{ rss.items_set.all.count }},
    itemsLoaded: {},
    
    loadItem: function(number) {
        if(number == null) {
            number = this.getNumberToLoad();
        }
        
        if(number < 0 || number >= this.totalItems) {
            return;
        }

        if(number in this.itemsLoaded) {
            return;
        }
        
        this.itemsLoaded[number] = null;
        $.getJSON(this.itemNumberRootUrl + number, function(itemSummary) {
            itemManager.addItem(itemSummary);
        });
    },
    
    getNumberToLoad: function() {
        // Todo: search missing in keys
        return Object.keys(this.itemsLoaded).length;
    },
    
    getTotalLoaded: function() {
        return Object.keys(this.itemsLoaded).length;
    },
    
    addItem: function(itemSummary) {
        // <div class="divItem" style="display:none">...</div>
        var itemElement = jQuery('<div/>')
            .attr('id', 'item' + itemSummary['number'])
            .addClass('divItem')
            .css('display', 'none')
            .append(this.leftPartElement(itemSummary))
            .append(this.rightPartElement(itemSummary));
            
        $('#content').append(itemElement);
        $(itemElement).css("display", "inline");
        $(itemElement).delay(500).show().animate({opacity:1},3000);
        
        this.itemsLoaded[itemSummary['number']] = $(itemElement);
    },
    
    leftPartElement: function(itemSummary) {
        //<div class="divItemLeft">
        //    <img class="itemImage pointer" src="${pic}"/>
        //    <div class="itemLinksBubble">
        //        <div class="itemLinksCount">${totalLinks}</div>
        //    </div>
        //</div>
        var left = jQuery('<div/>')
            .addClass('divItemLeft')
            .append(this.picElement(itemSummary['pic']))
            .append(this.bubbleElement(itemSummary['totalLinks']));
            
        if(typeof itemSummary['gallery'] != 'undefined') {
            $(left).click(itemSummary['gallery'], displayGallery);
        }
        
        return left;
    },
    
    picElement: function(picPath) {
        // <img class="itemImage pointer" src="${pic}"/>
        return jQuery('<img/>')
            .addClass('itemImage').addClass('pointer')
            .attr('src', picPath);
    },
    
    bubbleElement: function(totalLinks) {
        // <div class="itemLinksBubble">
        //    <div class="itemLinksCount">${totalLinks}</div>
        // </div>
        var number = jQuery('<div/>')
            .addClass('itemLinksCount')
            .text(totalLinks);
            
        return jQuery('<div/>')
            .addClass('itemLinksBubble')
            .append(number);
    },
    
    rightPartElement: function(itemSummary) {
        // <div class="divItemRightParent">
        //     <div class="divItemRight">
        //         <p class="itemTitle">${title}</p>
        //         <p class="itemDate">${pub_date}</p>
        //         <p class="itemSummary">${summary}</p>
        //     </div>
        // </div>
        var divInfo = jQuery('<div/>')
            .addClass('divItemRight')
            .append(this.titleElement(itemSummary['title']))
            .append(this.pubDateElement(itemSummary['pub_date']))
            .append(this.summaryElement(itemSummary['summary']));
            
        return jQuery('<div/>')
            .addClass('divItemRightParent')
            .append(divInfo);
    },
    
    titleElement: function(title) {
        // <p class="itemTitle">${title}</p>
        return jQuery('<p/>')
            .addClass('itemTitle')
            .text(title);
    },
    
    pubDateElement: function(pubDate) {
        // <p class="itemDate">${pub_date}</p>
        return jQuery('<p/>')
            .addClass('itemDate')
            .text(pubDate);
    },
    
    summaryElement: function(summary) {
        // <p class="itemSummary">${summary}</p>
        return jQuery('<p/>')
            .addClass('itemSummary')
            .text(summary);
    },
}
const rssId = {{ rss.id }};

var contentManager = {
    totalItemsVisible: function() {
        return this.rows() * this.columns();
    },

	columns: function() {
		var columns = Math.floor($('#content').get(0).scrollWidth/310);
		if(columns == 0) {
			columns = 1;
		}
        
        return columns;
    },

    rows: function() {
		var rows = Math.floor($('#content').height()/110);
		if(rows == 0) {
			rows = 1;
		}else {
			rows++;
		}
        
        return rows;
	},
    
    fill: function(numberOfItems) {
        if(numberOfItems === undefined) {
            numberOfItems = this.totalItemsVisible();
        }

        for(var i=0; i < numberOfItems; i++) {
            itemManager.loadItem();
        }
    },
    
    resized: function() {
        if(itemManager.getTotalLoaded() < this.totalItemsVisible()) {
            this.fill(this.totalItemsVisible() - itemManager.getTotalLoaded());
            return
        }
        
        var lastRowItemsCount = itemManager.getTotalLoaded() % this.columns();
        if(lastRowItemsCount != 0) {
            this.fill(this.columns() - lastRowItemsCount);
        }
    },
    
    addRow: function() {
        for(var i=0; i<this.columns(); i++) {
            itemManager.loadItem();
        }
    },
}

window.addEventListener('load', contentManager.fill());
        
function displayGallery(event) {
    var pswpElement = document.querySelectorAll('.pswp')[0];

    // define options (if needed)
    var options = {
        // optionName: 'option value'
        // for example:
        index: 0 // start at first slide
    };
    
    $.getJSON(event['data'], function(galleryInfos) {
        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, galleryInfos, options);
        gallery.init();
    });
}

$('#content').on('scroll', function() {
    if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
        contentManager.addRow();
    }
});

var resized;
$(window).on('resize', function() {
    clearTimeout(resized);
    resized = setTimeout(function() { contentManager.resized(); }, 1000);
});
    </script>
</body>
</html>
