{% load staticfiles %}

{% if description %}
<p>{{ description }}</p>
{% endif %}

{% if links %}
<p>
{% for link in links %}
	{% if not link.link %}
	<a href="{{ rootUri }}{% url 'rss:localStoreRetrieve' link.item.rss.id link.item.id link.id %}">	
	{% else %}
	<a href="{{ link.link }}">
	{% endif %}
	{% if link.storeLocaly and sid %}
		<img src="{{ rootUri }}{% url 'rss:localStoreRetrieve' link.item.rss.id link.item.id link.id %}?sid={{ sid }}" />
	{% elif link.storeLocaly %}
		<img src="{{ rootUri }}{% url 'rss:localStoreRetrieve' link.item.rss.id link.item.id link.id %}" />
	{% else %}
		<img src="{{ link.link }}" />
	{% endif %}
	</a>
{% endfor %}
</p>
{% endif %}
