{% load static %}<!DOCTYPE html>
<html lang="en_US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "detail.css" %}">
    <link rel="stylesheet" href="{% static "menu.css" %}">
    <link rel="stylesheet" href="{% static "PhotoSwipe/photoswipe.css" %}">
    <link rel="stylesheet" href="{% static "PhotoSwipe/default-skin/default-skin.css" %}">
    <title>{{ rss.title }} - {{rss.items_set.all|length}} items</title>
</head>

<body>
    <header>
        <div class="header">
            <input type="checkbox" id="tag-menu" onclick="setFocus(event, 'tag-menu', 'itemSearch')"/>
            <label class="fa fa-bars menu-bar" for="tag-menu"></label>
            <div class="drawer">
                <nav>
                    <ul>
                        <li>
                            <div id="drawer-main-actions">
                                <a title="Back to RSS list" class="fa fa-home" href="{{ rootUri }}{% url 'rss:index' %}"></a>
                                <a title="Slideshow all items" class="fa fa-play" onclick="displayGallery({ 'data': { 'url': '{% url 'rss:rssGallery' rss.id %}', 'itemsIdList': getGalleryManagerItemsIdList()}})" href="#"></a>
                                <a title="Slideshow all items randomly" class="fa fa-random" onclick="displayGallery({ 'data': { 'url': '{% url 'rss:rssGallery' rss.id %}', 'itemsIdList': getGalleryManagerItemsIdList(), 'random': 'true'}})" href="#"></a>
                            </div>
                        </li>
                        <li>
                            <div id="drawer-search">
                                <input name="itemSearch" type="text" style="width: 150px;" id="itemSearch" placeholder="Search for items" onkeypress="search(event);"/>
                            </div>
                        </li>
                        <li><a class="fa fa-rss drawer-entry" href="{% url 'rss:rssStream' rss.id %}">&nbsp; Subscribe</a></li>
                    </ul>
                </nav>
            </div>
            <span id="galleryTitle" class="title">{{ rss.title }} - {{rss.items_set.all.count}} items</span>
        </div>
    </header>
    
    {% csrf_token %}
    
    <div id="gallery"/>
    
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div> 
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- JQuery -->
    <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>

    <!-- Core JS file -->
    <script src="{% static 'PhotoSwipe/photoswipe.min.js' %}"></script>
    <!-- UI JS file -->
    <script src="{% static 'PhotoSwipe/photoswipe-ui-default.min.js' %}"></script>
    
    <!-- RSS Content -->
    <script src="{% static 'itemmanager.js' %}"></script>
    <script src="{% static 'gallerymanager.js' %}"></script>
    
    <script src="{% static 'common.js' %}"></script>
    {% include 'rssgenerator/rssSummary/rssSummary.js' %}
</body>
</html>
