server {
  listen    80;

  access_log /var/log/nginx/rssgenerator.access.log;
  error_log /var/log/nginx/rssgenerator.error.log;

  location /static {
    alias /opt/rssgenerator-data/static;
    expires 30d;
  }

  location / {
    proxy_pass http://127.0.0.1:8080;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
  }
}

